@font-face {
    font-family: Lexie;
    src: url(./asset/font/LexieReadable-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexie,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --line-height: 1.5;
}

body {
    background-color: #2DCCD2;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    section {
        border-radius: 10px;
        width: 95%;
        ul {
            list-style: none;
        }
        .project-item,
        .todo-item{
            margin-top: 10px;
            line-height: var(--line-height);
        }
        .project-item {
            background-color: lightsalmon;
        }
        .todo-item {
            background-color: lightgoldenrodyellow;
        }
    }
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-buttons {
    background-color: #008CBA;
    color: white;
    padding: 5px 20px;
    border: 2px solid #007B9E;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .new-task-btn:hover {
    background-color: #007B9E;
    color: #E0F7FF;
  }

.project-list-container,
.task-list-container {
    margin: 0 auto;
    padding: 10px;
    background-color: whitesmoke;
}

#todo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    .todo-item{
        padding: 15px;
        border-radius: 10px;
    }
    .todo-item:hover {
        box-shadow: 1px 1px 1px black;
    }
}

.todo-item{
    display: flex;
    justify-content: space-between;
}

.todo-item-controls {
    display: flex;
    align-items: center;
    gap: 7px;
    div {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        display: block;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.5;
    }
    div:hover {
        opacity: 1;
    }
}

.todo-item-edit-btn{
    background-image: url('asset/icon/edit.svg');
}

.todo-item-delete-btn{
    background-image: url('asset/icon/delete.svg');
}

/* Modal */

.blurred-background {
    filter: blur(5px);
  }